body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    
}

.header {
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 40px 0px;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 0;
    margin-left: 150px;
}

li {
    color: #e5e7eb;
    font-size: 18px;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color: white;
    padding: 40px;
    align-items: center;
    font-size: 18px;
    
}

.container {
    background-color: #1f2937;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.containertwo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}

.info {
display: flex;
flex-flow: column wrap;
max-width: 200px;
align-items: center;



}

.info img {
    border-radius: 25px;
    border: 3px solid #3882f6;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.containerthree {
    display: flex; 
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    padding: 30px 0px;
    
}

.containerfour {
    background-color: #ffffff;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #3882f6;
    height: 100px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;

}

.call {
    font-size: 24px;
    font-weight: bold;
    
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    
    width: 800px;

}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    margin-right: 40px;
}

.lefttext {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    
}

button.signup {
    background: #3882f6;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

button.signupsecond {
    background: #3882f6;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.herotext {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;

}

.logo {
    font-size: 24px;
    color: #f9faf9;
    font-weight: bold;
}

img {
    height: 200px;
    width: 400px;
    
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}